.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto); /* Tres filas automáticas */
  grid-gap: 20px;
  justify-content: center;
  align-items: center
}

.shop .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto); /* Tres filas automáticas */
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  :hover {
    color: $primary-color;
    transition: 0.3s ease;
  }
}

.grid-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #494949;
  padding: 10px 15px;
}

.image-container {
  width: 200px;
  height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Beneficios */
.benefits {
  padding: 20px;
}

.benefits h3 {
  margin-bottom: 20px;
}

.grid-item-ahorra, .grid-item-decision {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ahorra, .decision {
  width: 200px;
  height: 150px;
  margin-bottom: 10px;
}

.ahorra img, .decision img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tiempo {
  position: relative;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 200px;
  margin: -201px -190px 0px 0px;
  z-index: -1;
}

.tiempo img {
  width: 100%;
  height: 100%;
}

.beneficio {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.detalle {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
}
