/* Login */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.login-card {
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.login-card h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 12px 15px;
  padding-left: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-input:focus {
  outline: none;
  border-color: #0844A4;
}

.btn {
  background-color: #0844A4;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #032f75;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.forgot-password a:hover {
  color: #0056b3;
}

.or {
  text-align: center;
  margin: 20px 0;
  font-size: 14px;
  color: #666;
  position: relative;
}

.or::before, .or::after {
  content: '';
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

.google-btn {
  background-color: #fff;
  color: #333;
  font-weight: bolder;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-btn:hover {
  background-color: #f8f8f8;
  border-color: #ccc;
}
