/* main */
main {
  padding-top: 120px;
}

.main-content {
  padding-top: 110px; /* altura del header + 10px */
}

.section {
  padding: 20px;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: black;
}
